<html lang="en">
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous"
  />
  <%- include('./partials/head.ejs') %> <%- include('./partials/nav.ejs') %>
  <!-- Cuurent display of numbers in a Binary Search Tree -->
  <body>
    <div>
      <!-- https://stackoverflow.com/questions/5670752/how-can-i-pretty-print-json-using-node-js#:~:text=234-,I,-think%20this%20might -->
      <pre class="form-group"><%= JSON.stringify(createdTree, null, 4) %></pre>
    </div>
  </body>
</html>
