<html lang="en">
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous"
  />
  <%- include('./partials/head.ejs') %> <%- include('./partials/nav.ejs') %>
  <h3 style="text-align: center; margin-top: 1rem">
    Displayed input of numbers in JSON format of a Binary Search Tree
  </h3>
  <body>
    <div
      style="
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        text-underline-offset: 0.5rem;
      "
      class="form-group"
    >
      <p>
        <u><b>User Input: </b> <%= ( userInput ) %></u>
      </p>
    </div>

    <div>
      <pre style="display: flex; justify-content: center" class="form-group">
<%= JSON.stringify(createdTree, null, 4) %></pre
      >
    </div>
  </body>
</html>
