<html lang="en">
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous"
  />
  <%- include('./partials/head.ejs') %>
  <body>
    <!-- < %- include('./partials/nav.ejs') %> -->
    <div class="text-center" style="text-align: center">
      <h1 class="mt-4" style="padding-bottom: 0.5rem; margin-top: 1rem">
        &ensp;<u style="text-underline-offset: 0.5rem"
          >David Turner's Algorithms Final Sprint</u
        >
      </h1>
      &emsp;<a href="/treeify/input">
        [ Input Numbers to Create a Binary Tree ] </a
      >&emsp;<a href="/treeify/"> [ View Previously Processed Trees ]</a>
    </div>
    <div class="text-center" style="text-align: center">
      <h2 class="mt-4">
        Welcome To Purple Monkey a Full Stack Development Company
      </h2>

      <img
        src="Purprle Monkey 1.jpg"
        style="height: 60%; width: 40%"
        alt="Purple Monkey Company Logo"
      />
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
