<html lang="en">
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous"
  />
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="text-center" style="text-align: center">
      <h1 class="mt-4" style="padding-bottom: 0.5rem; margin-top: 1rem">
        &ensp;<u style="text-underline-offset: 0.5rem"
          >David Turner's Algorithms Final Sprint</u
        >
      </h1>
      <a href="/treeify/"> [ View Previously Processed Trees ]</a>
    </div>
    <b><h1 style="text-align: center;padding-top: 1rem;">Set of Numbers to Run Through a BST / AVL Tree</h1><b><br> 
      <div style="text-align: center;" class="form-group"> 
          <form action="/treeify/newInput" method="POST" autocomplete="off">              
              <label class="form-group" style="text-align: center;padding-left: 2.6rem;"><u>Enter Number Set, Comma Seperated</u></label><br>
              <ul style="list-style: none;" >
                  <li>
                      <label>Numerical Input
                          <input class="form-control" placeholder="Numerical Input" type="text" id="numbers" name="numbers" value="<%= locals.numbers %>" required>
                      </label>
                  </li>
              <button>POST</button>
              </ul>
          </form>
      </div>
    <div class="text-center" style="text-align: center">
      <img
        src="Purprle Monkey 1.jpg"
        style="height: 60%; width: 40%; margin-top: 1rem; text-align: center;"
        alt="Purple Monkey Company Logo"
      />
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
